    <main>
        <div class="main-inner">
            <h2 class="top-title">新着依頼</h2>
            <div class="column-wrapper">
                <div class="column-left">
                    <div class="category-area">
                        <h3 class="category-title">カテゴリー</h3>
                        <ul class="category-list">
                            <li class="category-item">Excel</li>
                            <li class="category-item">IT</li>
                            <li class="category-item">業務経験</li>
                            <li class="category-item">写真</li>
                            <li class="category-item">イラスト</li>
                            <li class="category-item">スポーツ</li>
                            <li class="category-item">資格</li>
                            <li class="category-item">デザイン</li>
                            <li class="category-item">ライティング</li>
                            <li class="category-item">その他</li>
                        </ul>
                    </div>
                </div>
                <div class="column-right">
                <% @post.each do |post|%>
                    <article class="request-card">
                        <div class="card-inner">
                            <%= post.order_completion %>
                            <% if post.order_completion ==0 %>
                                <p class="request-status">受付中</p>
                            <% else%>
                                <p class="request-status">募集終了</p>
                            <% end%>
                            <div class="card-top">
                                <div class="card-top-left">
                                    <h3 class="request-card-title"><%= link_to(post.title,"/posts/#{post.id}")%></h3>
                                    <i class="fas fa-tools"></i>
                                    <p class="request-card-category">カテゴリー：<%= post.category.category_name %></p>
                                </div>
                                <div class="card-top-right">
                                    <div class="card-suggestion">
                                        <p>提案</p>
                                        <p> <span>０</span>人</p>
                                    </div>
                                    <div class="card-deadline">
                                        <p>期限</p>
                                        <p>あと <span>０</span>日</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-bottom">
                                <div class="name-area">
                                    <i class="fas fa-user-circle"></i>
                                    <p class="card-berongs"><%= post.user.belongs %></p>
                                    <p class="card-name"><%= post.user.name %></p>
                                </div>
                                <div class="time-area">
                                    <p>依頼日：<%= post.deadline %></p>
                                </div>                                
                            </div>
                        </div>
                    </article>
                <% end%>
                </div>
            </div>
        </div>
    </main>
