<main>
        <div class="main-inner">
            <div class="post-area">
                <h2 class="request-title"><%= @post.title%> </h2>
                <div class="requester-area">
                    <p>発注者</p>
                    <i class="fas fa-user-circle"></i>
                    <p><%= @user.belongs%></p>
                    <p><%= @user.name%></p>
                </div>
                <div class="request-items-area">
                    <div class="request-item">
                        <i class="far fa-calendar-alt"></i>
                        <p class="request-item-title">掲載日</p>
                        <p class="request-item-content"><%= @post.created_at.strftime('%Y/%m/%d %H:%M')%></p>
                    </div>
                </div>
                <div class="request-items-area">
                    <div class="request-item">
                        <i class="far fa-clock"></i>
                        <p class="request-item-title">募集期限</p>
                        
                            <% if @post.days_left >=0 %>
                                <p class="request-item-smal">
                                    あと <span><%= @post.days_left%></span>日
                                </p>
                                <p class="request-item-content"><%= @post.deadline.strftime('%Y/%m/%d')%></p>
                            <% else%>
                                <p class="request-item-content">募集終了</p>
                            <% end%>
                    </div>
                </div>
                <div class="request-items-area">
                    <div class="request-item">
                        <i class="fas fa-tools"></i>
                        <p class="request-item-title">カテゴリー</p>
                        <p class="request-item-content"><%= @category.category_name %></p>
                    </div>
                </div>
                <div class="request-items-area">
                    <div class="request-item">
                        <i class="fas fa-user-friends"></i>
                        <p class="request-item-title">募集状況</p>
                        <% if @post.order_completion==true %>
                            <p class="request-item-content">受注者決定</p>
                        <% else%>
                            <p class="request-item-smal">提案数 <span><%=  @post.suggestions_count%></span>人</p>
                        <% end%>
                    </div>
                </div>
                <div class="request-items-area">
                    <div class="request-item ">
                        <i class="fas fa-tasks"></i>
                        <p class="request-item-title">依頼内容詳細</p>
                    </div>
                    <div class="request-item-content">
                        <div class="request-item-content-inner">
                            <p><%= @post.detail%></p>
                        </div>
                    </div>
                </div>
            </div>
            <% if @contractor%>
                <p><%= @contractor.name%>さんに決定しました！</p>
            <% elsif @post.order_completion==1 %>
                <p>発注者検討中・・・・</p>

            <% elsif @current_user.id == @post.order_user_id%>
                    <div class="request-button-area">
                        <%= link_to("受注者を決定する", "/posts/#{@post.id}/select", class:"button button_link") %>
                    </div>
                    <div class="request-button-area">
                        <%= link_to("依頼内容を修正する", "/posts/#{@post.id}/edit", class:"button button_link") %>
                    </div>
            <% else%>
                    <div class="request-button-area">
                        <%= link_to("提案する", "/posts/#{@post.id}/suggestion", class:"button button_link") %>
                    </div>
            <% end %> 
            <div class="chat-area">
                <div class="chat-title-area">
                    <i class="fas fa-comments"></i>
                    <p class="chat-title">質問チャット</p>
                </div>
                <div class="chat-room">
                    <% @chat.each do |chat|%>
                        <% if chat.question_user_id == @post.order_user_id %>
                            <div class="left-chat">
                                <div class="chatting">
                                    <div class="says">
                                        <p class="chat-message"><%= chat.comment %></p>
                                        <p class="chat-time"><%= chat.created_at.strftime('%Y/%m/%d %H:%M')%>　　<%= chat.user.belongs %>　<%= chat.user.name %></p>
                                    </div>
                                </div>
                            </div>
                        <% else%>
                            <div class="right-chat">
                                <div class="chatting">
                                    <div class="says-right">
                                        <p class="chat-message"><%= chat.comment %></p>
                                        <p class="chat-time"><%= chat.created_at.strftime('%Y/%m/%d %H:%M')%>　　<%= chat.user.belongs %>　<%= chat.user.name %></p>
                                    </div>
                                </div>
                            </div>
                        <% end%>
                    <% end%>
                </div>

                <%= form_with url: "/chat/#{@post.id}" do |form| %>
                    <div class="chat-form-wrapper">
                        <div class="chat-form">
                            <input type="text" name ="comment">
                        </div>
                        <div class="request-button-area">
                            <input class="button" type="submit" value="送信">
                        </div>
                    </div>
                <% end%>
            </div>
        </div>
    </main>